<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<div
    style="width: 100%; background-color: #cacaca; font-family: Arial, Helvetica, sans-serif">
    <table width="600" border="0"
           style="background-color: #044bb6; margin: 0 auto; padding: 15px 60px">
        <tbody>
        <tr>
            <td style="text-align: left"><a href="#" style="text-decoration: none; color: #FFFFFF; font-size: 20px;font-weight: 400"> PROJETO - Modelo de Email
            </a></td>
        </tr>
        </tbody>
    </table>


    <table width="600" border="0" bgcolor="ffffff"
           style="font-size: 14px; line-height: 20px; color: #515050; margin: 0 auto; padding: 40px 60px; background-color: #ffffff">
        <tbody>
        <tr>
            <td>
                <h1 style="font-size: 19px; font-weight: bold">Prezado(a)
                    scerni,</h1>
                <p>
                    Sua inscrição no evento <b>Evento Teste</b> foi confirmada com
                    sucesso.
                </p>
                <p>Verifique atentamente as informações sobre datas e locais
                    contidas neste e-mail:</p> <br>
                <center>
                    <a href="#"
                       style="color: #515050; display: inline-block; border: 1px solid #515050; padding: 10px; border-radius: 5px; text-decoration: none; font-size: 15px"
                       target="_blank"> Visualizar comprovante de inscrição </a>
                </center>
            </td>
        </tr>
        </tbody>
    </table>


    <table width="600" border="0"
           style="font-size: 14px; line-height: 18px; color: #515050; margin: 0 auto; padding: 40px 60px; background-color: #ededed">
        <tbody>
        <tr>
            <td colspan="2">
                <h1 style="font-size: 19px; font-weight: bold">Dados da
                    Inscrição</h1>
                <hr
                    style="border: 1px solid #cacaca; border-top: none; margin-bottom: 15px">
            </td>
        </tr>


        <tr>
            <td>
                <p>
                    <b style="text-transform: uppercase">Nome</b><br> <span
                    style="line-height: 10px"> scerni </span>
                </p>
            </td>
            <td>
                <p>
                    <b style="text-transform: uppercase">Categoria</b><br> <span
                    style="line-height: 10px"> Estudante </span>
                </p>
            </td>
        </tr>


        <tr>
            <td>
                <p>
                    <b style="text-transform: uppercase">E-mail</b><br> <span
                    style="line-height: 10px"> <a
                    href="mailto:jhonnyscerni@gmail.com" style="color: #3673b0"
                    target="_blank"> jhonnyscerni@gmail.com </a>
							</span>
                </p>
            </td>
            <td>
                <p>
                    <b style="text-transform: uppercase">Inscrição Nº</b><br> <span
                    style="line-height: 10px"> 2139900 </span>
                </p>
            </td>
        </tr>


        <tr>
            <td>
                <p>
                    <b style="text-transform: uppercase">Data</b><br> <span
                    style="line-height: 10px">25/04/2018</span>
                </p>
            </td>
        </tr>



        </tbody>
    </table>


    <table width="600" border="0"
           style="font-size: 14px; line-height: 20px; color: #515050; margin: 0 auto; padding: 40px 60px; background-color: #ffffff">

        <tbody>
        <tr>
            <td colspan="3">
                <h1 style="font-size: 19px; font-weight: bold">Sobre o Evento</h1>
                <hr
                    style="border: 1px solid #cacaca; border-top: none; margin-bottom: 15px">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <p style="font-size: 14px; color: #515050">
                    <b> Evento Teste </b>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <p style="margin-top: 0; font-size: 12px; color: #515050">1 de
                    fevereiro de 2018, 00h00 até 31 de maio de 2018, 00h00</p>
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <p style="margin-top: 0; font-size: 12px; color: #515050">
                    Av. Almirante<br>Avenida Almirante Barroso<br>São Brás,
                    Belém - Pará
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <p style="margin-top: 0; font-size: 12px; color: #515050">
                    Organizador: Teste Organizador</p>
            </td>
        </tr>
        </tbody>
    </table>

    <table width="600" cellpadding="0" cellspacing="0"
           style="background-color: #fff; margin: 0 auto; padding: 50px 60px; border-top: 1px solid #ededed">

        <tbody>
        <tr>
            <td><a href="#" style="text-decoration: none" target="_blank">
                <h4
                    style="text-transform: uppercase; color: #444444; margin: 0 0 10px 0">Entre
                    na sua conta</h4>
                <p style="font-size: 13px; margin: 0; color: #444444">
                    Acesse sua conta <span class="il">Seven</span> para acompanhar
                    suas inscrições, ter acesso ao histórico, certificados de
                    participação neste e em outros eventos.
                </p>
            </a></td>

        </tr>

        </tbody>
    </table>
</div>

</body>
</html>